#map, #bkmap {
  width: 450px;
  height: 350px;
  margin: 7px;
}

.general-container {
  height: 100%;
  width: 460px;
  position: absolute;
  overflow: hidden;
  top: 90px;
  margin-bottom: 40px;
  left: 30px;
  display: block;
  overflow: auto;
}
