body {
  background-image: url('../images/aaronsFace.jpeg');
  background-position: top right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  color: white;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Lato', sans-serif;
  /*font-family: 'Helvetica';*/
  margin: 0;
}

div {
  display: block;
}

h1 {
  display: block;
  font-weight: bold;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #00ffff;
}

#sidebar-container {
  height: 529px;
  width: 460px;
  position: absolute;
  overflow: hidden;
  top: 90px;
  margin-bottom: 40px;
  left: 30px;
}

.content-background {
  background: rgba(0,0,0,0.80);
  padding: 10px 30px 30px 30px;
}

.about-name {
  font-size: 57px;
  font-weight: normal;
  font-style: normal;
  line-height: 100%;
  margin: 20px 0 0 0;
  width: 100%;
}

.inner-name {
  cursor: pointer;
}

.content-list-styles {
  font-size: 24px;
  padding-top: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.content-list-styles li{
  display: block;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  cursor: pointer;
  line-height: 130%;
}

.pointer-arrow {
  float: right;
  color: rgba(255,255,255,0.3);
  font-weight: lighter;
}

.layout-content {
  overflow: hidden;
    display: inline-block;
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.layout-content-nav-dropdown {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.content-font {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 150%;

}

.content-font li {
  padding: 5px;
  margin: 5px;
}

.back-arrow {
  top: 25px;
  display: inline-block;
  background: #404040;
  width: 20px;
  height: 20px;
  color: #000;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  margin-left: -25px;
}

.back-arrow:hover {
  background: #fff;
  text-decoration: none;
  color: #000;
}

.general-container {
  height: 100%;
  width: 460px;
  position: absolute;
  overflow: hidden;
  top: 90px;
  margin-bottom: 40px;
  left: 30px;
  display: block;
  overflow: auto;
}

.studio-container {
  width: 550px;
}

.studio-resize {
  width: 500px;
  height: 350px;
  margin-right: 20px;
}
